@use "colors" as *;

@mixin hugeText {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: $primary;
  line-height: 1;
  letter-spacing: -1px;
}

@mixin bigText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: $primary;
  letter-spacing: -0.5px;
}

@mixin buttonText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

@mixin regularText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $primary;
}

@mixin smallText {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: $primary;
}
